/* Colors */
$black: #000000;
$black-op4: rgba(0, 0, 0, 0.4);
$black-op1: rgba(0, 0, 0, 0.1);
$dark-gray: #333333;
$medium-gray: rgba(255, 255, 255, 0.2);
$light-gray: rgba(255, 255, 255, 0.5);
$dark-white: rgba(255, 255, 255, 0.8);
$light-white: #fafafa;
$white: #FFFFFF;
$transparent: rgba(255, 255, 255, 0);
$red: #941709;
$light-blue: #6fbfff;
$iris-blue: #208ab4;
$dark-blue: #4381b2;
$blue: #12475f;

/* ADD header top animation from 0 to 200px*/


/* ADD container left animation from -1000 to 0*/


/* ADD btn opacity animation from 0 to 1*/


/* ADD move-eyes should be a transform animation make the eyes move
starting from center to bottom left to center to top right */


