
/* Box colors */
.box{
  color: $white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.2em;
  height: 140px;
  line-height: 4em;
  padding: 25px;
  position: relative;
  text-align: center;
  width: 250px;
}

/* Laterals box */
.laterals{
  background-color: $blue;
  border-radius: 50%;
  width: 130px;
  box-shadow: 0 0 20px darkslategrey;

  &:after,
  &:before {
    content: "";
    height: 100px;
    position: absolute;
    width: 50%;
    z-index: 1;
  }
  &:after {
    display: none;
  }
  &:before {
    border-radius: 50%;

    /* Add outset box shadow with dark-gray color */

    height: $height-full;
    left: 0;
    top: 0;
    width: $width-full;
  }
  
}

/* Rainbow  */
.rainbow{
  border-radius: 50%;

  /* Create a rainbow box shadow using inset shadows, use the variables that we have in _variables.scss */
  box-shadow:
    inset $x-offset (-$y-offset) $shadow-blur $shadow-spread $red,
    inset (-$x-offset) (-$y-offset) $shadow-blur $shadow-spread $yellow,
    inset 0 $shadow-depth $shadow-blur $shadow-spread $blue,
    inset (-$x-offset) $y-offset $shadow-blur $shadow-spread $green,
    inset $x-offset $y-offset $shadow-blur $shadow-spread $purple,
    inset 0 (-$shadow-depth) $shadow-blur $shadow-spread $orange,
;

  height: 150px;
  margin: auto;
  width: 150px;
}

/* Box Shadow */
.box-shadow{
  background-color: $orange;
  border: 12px solid $brown;
  border-bottom-right-radius: 60px 90px;
  border-top-left-radius: 60px 90px;

  /* Add inset box shadow with medium-black color, and outset box shadow with medium-black color */
  box-shadow: inset 3px 5px 0 20px $medium-black, 0 0 20px 43px $medium-black;

  margin: 0 auto;
  height: 100px;
  width: 100px; 
}

/* Checkboxes */
.control-group {

  /* Add outset box shadow with black color */
  box-shadow: 0 0 5px black;

  display: inline-block;
  padding: 10px;
  text-align: left;
}

.control {
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  input:hover ~ .icon,
  input:focus ~ .icon {
    background-color: $medium-black;
  }
  input:checked ~ .icon:after {
    display: block;
  }
}

.icon {
  border: 1.5px solid $black;
  border-radius: 3px;
  height: 15px;
  width: 15px;
  left: 0;
  position: absolute;
  top: 2px;
  &:after {
    content: '';
    display: none;
    position: absolute;
  }
}

.control-checkbox .icon:after {
  border: solid $blue;
  border-width: 0 2px 2px 0;
  height: 8px;
  left: 4px;
  transform: rotate(45deg);
  top: 0;
  width: 3px;
}

/* Drop box */
.drop{
  background-image: linear-gradient(to bottom, $light-purple 11%, $dark-purple 56%);

  /* Add inset box shadow with white and gray color, and outset box shadow with black color */

  &:after,
  &:before {
    content: "";
    height: 100px;
    position: absolute;
    width: 50%;
  }
  &:before {
    background-color: $light-gray;
    border-radius: 50%;

    /* Add outset box shadow with light-gray, dark-gray-v3 and gray color */

    height: 4px;
    left: -10px;
    top: 154px;
    width: 280px;
    z-index: 1;
  }
  &:after {
    background-color: $dark-gray-v2;
    border-radius: 50%;

    /* Add outset box shadow with dark-gray-v1, dark-gray and dark-gray-v2 color */

    height: 2px;
    left: -2px;
    top: 155px;
    width: 255px;
    z-index: 1;
  }
}


/* Form */
.wrapper {
  margin: 0 auto;
  width: 300px;
  .inner {
    border: 0.3px solid $gray;

    /* Add inset and outset box shadows with gray color */
    box-shadow: -10px -10px 4px grey;

    height: $height-full;
    padding: 10px;
    text-align: left;
    width: 300px;
  }
  .form-group{
    margin: 10px 0;
  }
  label{
    font-weight: bold;
  }
  input{

    /* Add outset box shadow with brown-shadow variable */

    height: 30px;
    width: $width-full;
  }
  textarea {

    /* Add outset box shadow with brown-shadow variable */

    height: 35%;
    margin: 10px 0;
    width: $width-full;
  }
}

/* Dropdown */
.dropdown {
  border-radius: 5px;

  /* Add inset and outset box shadows with light-brown and dark-brown color */
  box-shadow: inset 0 0 10px 0 $light-brown, 0 0 20px 2px $dark-brown;

  display: inline-block;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
  width: $width-full;
  &:hover {
    .dropdown-content {
      display: block;
    }
    .drop-btn {
      opacity: 0.2;
    }
  }
  .drop-btn {
    background-color: $orange;
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-size: 1em;
    height: $height-full;
    width: $width-full;
  }

  .dropdown-content {
    background-color: $white;

    /* Add outset box shadow with medium-black color */
    box-shadow: 0 0 10px $medium-black;

    display: none;
    min-width: $width-full;
    position: absolute;
    z-index: 1;
    a {

      /* Add inset and outset box shadows with light-brown and dark-brown color */
      box-shadow: inset 0 0 0 1px $light-brown, 0 0 0 1px $dark-brown;

      color: $black;
      display: block;
      padding: 12px 16px;
      text-decoration: none;
      &:hover {
        background-color: $white;
      }
    }
  }
}

/* Bubble */
.bubble{
  .stage {
    display: inline-block;
    height: 200px;
    width: 200px;
  }
  .ball {
    background-color: $light-green;
    border-radius: 50%;
    height: $height-full;
    margin: 0;
    position: relative;
    width: $width-full;
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    &:before {
      background: radial-gradient(circle at 50% 0, $white, rgba(255, 255, 255, 0.1) 40%);
      border-radius: 50%;

      /* Add outset box shadow with dark-gray color */
      box-shadow: 0 8px 40px $dark-gray;

      filter: blur(5px);
      height: 90%;
      left: 5%;
      top: 1%;
      width: 90%;
      z-index: 2;
    }
  }
}

/* Talos title */

.title-shadow {
  background-color: $green;
  color: $white;
  font-size: 6em;
  font-weight: bold;
  line-height: 150px;
  overflow: hidden;

  /* Add Text shadow with dark green color */

}

