.btn{
  background-color: $dark-gray;
  border: 1px solid $gray;
  color: $white;
  margin: .5em 0;
  padding: 1em 2em;
  text-decoration: none;
  &:hover{
    background-color: $light-gray;
    color: $dark-gray;
  }
}

/* Header Showcase */

.showcase{
  color: $white;
  min-height: 450px;
  position: relative;
  text-align: center;
  .bg-image{
    background: $dark-gray url('../images/pic1.jpg') center no-repeat;
    background-size: cover;
    height: 450px;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  h1{
    padding-bottom: 0;
    padding-top: 100px;
  }
}

.content-wrap{
  padding: 0 1.5em;
}

/* Section A */

.section-a{
  background-color: $light-gray;
  color: $dark-gray;
  padding-bottom: 2em;
}

/* Section B */

.section-b{
  padding: 2em 1em 1em;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    background-color: $white;
    color: $dark-gray;
    margin-bottom: 1em;
  }
}

.card-content{
  padding: 1.5em;
}

/* Section C */
.section-c{
  background-color: $white;
  color: $dark-gray;
  padding: 2em;
}

/* Section D */

.section-d .box{
  color: $white;
  padding: 2em;
  &:first-child{
    background-color: $blue;
  }
}

/* Add Responsive 700px */


/* Add Responsive 1200px */

