/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html {
  font-family: 'Helvetica Light', sans-serif;
}

body {
    background-color: #cccccc;

    section {
        background-color: #aaaaaa;
        border-radius: 100px 0;
        width: 46%;
        margin: 200px auto;
        height: 210px;
        box-shadow: 10px 10px 5px grey;

        .card-container {
            display: inline-block;

            .card-inner-container {
                background-color: #b44e4c;
                border-radius: 80px;
                display: flex;
                justify-content: space-around;
                margin: 20px;
                width: 320px;
                height: 162px;
                padding: 5px;

                .figure {
                    background-color: #d26a64;
                    color: white;
                    width: 150px;
                    margin: 5px -10px;
                    padding-top: 40px;

                    &.figure-left {
                        border-radius: 100px 100px 0;

                        p {
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: 900;
                            margin: 0;
                            padding-left: 25px;
                        }

                        address {
                            padding-left: 25px;
                            font-size: 10px;
                        }
                    }

                    &.figure-right {
                        border-radius: 100px 100px 100px 0;
                        text-align: right;

                        p {
                            margin: 0;
                            padding-right: 25px;

                            &.name{
                                font-size: 14px;
                            }

                            &.position,
                            &.phone,
                            &.email {
                                font-size: 10px;
                            }
                        }

                    }
                }
            }
        }
    }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
