
body {
	background-image: url("../assets/img/table-bg.jpg");

	.dealt-cards, .handed-cards {
		text-align: center;
		margin-top: 150px;
	}

	.dealt-cards {
		margin-top: 400px;
    	margin-bottom: 100px;
	}

	.handed-cards {
		position: relative;
    	margin-top: 50px;
    	img {
    		padding-bottom: 30px;
    	}
	}

	.card {
  		display: inline-block;
  		margin: 5px;
  		padding-bottom: 20px;
	}

	.handed-cards img {
		position: absolute;
	}

	.card1 img{
    	z-index: 2;
    	left: 410px;
    	&:hover {
   			z-index: 3;
    		top: -30px;
    	}
	}

	.card2 img{
		z-index: 1;
    	left: 550px;
     	&:hover {
   			z-index: 3;
    		top: -30px;
    	}
	}

	.card3 img{
		right: 400px;
     	&:hover {
   			z-index: 3;
    		top: -30px;
    	}
	}

}

